{:deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:build
  {:deps {io.github.hlship/build-tools {:git/tag "v0.3" :git/sha "1ca74c2"}}
   :ns-default build}}

 :codox/config
 {:description "Improved context for test failures"
  :source-uri "https://github.com/walmartlabs/test-reporting/blob/master/{filepath}#L{line}"}}